{% load staticfiles %}
<html>
    <head>
        <title>Zabawy z PyPila</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body style="background-color:lightgrey;">
        <p>Zabawy z <a href="http://pypila.stxnext.pl/"> PyPila </a></p>
        <hr>
        <p style="font-family:courier;">
        <ul style="list-style-type:square">
            <li><a href="../admin"> Admin Panel </a> </li>
            <li><a href="../say_hello"> Say Hello </a> </li>
            <li><a href="../czlonkowie_rodziny"> Członkowie rodziny </a> </li>
            <li><a href="../hello_world"> Hello world </a> </li>
            <li><a href="../hello_name/Kolezko"> Hello Koleżko </a> </li>
            <li><a href="../czlonkowie_rodziny2"> Członkowie rodziny 2 </a> </li>
            <li><a href="../api/czlonkowie_rodziny"> Członkowie rodziny API</a> </li>
             <li><a href="../api/czlonkowie_rodziny/3"> Członkowie rodziny API - id 3</a> </li>
        </ul>
        </p>
    </body>
</html>
